<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/minireset.css" />
    <link rel="stylesheet" href="../../static/css/common.css" />
    <link rel="stylesheet" href="../../static/css/cart.css" />
    <link rel="stylesheet" href="../../static/css/bookManger.css" />
    <script type="text/javascript" src="../../static/script/axios.js"></script>
    <script type="text/javascript" src="../../static/script/vue.js"></script>

  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a href="../../index.html">
            <img src="../../static/img/logo.gif" alt=""
          /></a>
          <h1>图书管理系统</h1>
        </div>
        <div class="header-right">
          <a href="#" class="order">图书管理</a>
          <a href="./order_manager.html" class="destory">订单管理</a>
          <a href="../../index.html" class="gohome">返回商城</a>
        </div>
      </div>
    </div>
    <div id="app" class="list">
      <div class="w">
        <div class="add">
          <a href="/pages/manager/book_edit.html">添加图书</a>
        </div>
        <table>
          <thead>
            <tr>
              <th>图片</th>
              <th>商品名称</th>
              <th>价格</th>
              <th>作者</th>
              <th>销量</th>
              <th>库存</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="book:${booksPage.dataList}">
              <td>
                <img th:src="${book.imgPath}" alt="" />
              </td>
              <td th:text="${book.title}"></td>
              <td th:text="${book.price}"></td>
              <td th:text="${book.author}"></td>
              <td th:text="${book.sales}"></td>
              <td th:text="${book.stock}"></td>
              <td>
                <a th:href="@{/updateBook(id=${book.id})}" >修改</a>
                <a th:href="@{/deleteBook(id=${book.id})}" class="del">删除</a>
              </td>
            </tr>

          </tbody>
        </table>
        <div class="footer">
          <div class="footer-right">
            <div><a href="/allBooks">首页</a></div>
            <div><a th:href="@{/allBooks(pageIndex=${booksPage.pageIndex-1<=0 ? 1: booksPage.pageIndex-1})}">上一页</a></div>
            <ul>
              <li th:each="k:${#numbers.sequence(1,booksPage.totalPages)}">
                <a th:href="@{/allBooks(pageIndex=${k})}" th:text="${k}"></a>
              </li>
            </ul>
            <div><a th:href="@{/allBooks(pageIndex=${booksPage.pageIndex+1>= booksPage.totalPages? booksPage.totalPages:booksPage.pageIndex+1})}">下一页</a></div>
            <div><a th:href="@{/allBooks(pageIndex=${booksPage.totalPages})}">末页</a></div>
            <span th:text="'共'+${booksPage.totalPages}+'页'"></span>
            <span th:text="${booksPage.totalCount}+'条记录'"></span>
            <form action="/allBooks" method="get">
              <span>到第</span>
              <input type="text" name="pageIndex"/>
              <span>页</span>
              <button>确定</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img src="../../static/img/bottom1.png" alt="" />
                <span>大咖级讲师亲自授课</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../static/img/bottom.png" alt="" />
                <span>课程为学员成长持续赋能</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../static/img/bottom2.png" alt="" />
                <span>学员真是情况大公开</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          <dl>
            <dt>关于尚硅谷</dt>
            <dd>教育理念</dd>
            <!-- <dd>名师团队</dd>
            <dd>学员心声</dd> -->
          </dl>
          <dl>
            <dt>资源下载</dt>
            <dd>视频下载</dd>
            <!-- <dd>资料下载</dd>
            <dd>工具下载</dd> -->
          </dl>
          <dl>
            <dt>加入我们</dt>
            <dd>招聘岗位</dd>
            <!-- <dd>岗位介绍</dd>
            <dd>招贤纳师</dd> -->
          </dl>
          <dl>
            <dt>联系我们</dt>
            <dd>http://www.atguigu.com</dd>
            <dd></dd>
          </dl>
        </div>
      </div>
      <div class="down">
        尚硅谷书城.Copyright ©2015
      </div>
    </div>
  </body>
</html>
